{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lightbox.css') }}">
    <script src="{{ url_for('static', filename='portfolio.js') }}"></script>
    <style>
        .hover-zoom img {
            transition: transform .2s;
        }

        .hover-zoom img:hover {
            transform: scale(1.03);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="album p-4">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            {% for pic in pictures %}
                <div class="col py-1">
                    <a>
                        <div class="card hover-zoom">
                            <img src="/{{ pic }}" alt="Photo" class="card"/>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal lightbox-modal" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content bg-secondary">
                <div class="modal-body" id="modalBody">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="container-fluid p-0">
                        <!-- JS content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
