{% extends "base.html" %}

{% block title %}Ceník{% endblock %}


{% block includes %}
{% endblock %}

{% block content %}
    <div class="container p-3">
        <div class="row g-2 py-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h2>Virtuální prohlídka Matterport</h2>
                <div class="row-cols-1">
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost do 80 m2, min. 12 fotografií:</div>
                        <div>3.500,- Kč</div>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost 80 m2 až 160 m2, min. 20:</div>
                        <div>4.000,- Kč</div>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost nad 160 m2:</div>
                        <div>dohodou</div>
                    </div>
                </div>
            </div>
            <div class="feature col">
                <h2>2D plánky</h2>
                <div class="row-cols-1">
                    <div class="col d-flex justify-content-between">
                        <div>1 podlaží při dodání podkladů, nebo s virtuální prohlídkou:</div>
                        <div>300,-</div>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div>1 podlaží bez dodání podkladů:</div>
                        <div>500,-</div>
                    </div>
                </div>
            </div>
            <div class="feature col">
                <h2>Focení</h2>
                <div class="row-cols-1">
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost do 80 m2, min. 12 fotografií:</div>
                        <div>1.500,-</div>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost 80 m2 až 160 m2, min. 20:</div>
                        <div>1.900,-</div>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div>Nemovitost nad 160 m2:</div>
                        <div>dohodou</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container p-3">
        <div class="row g-4 py-4 row-cols-1 row-cols-lg-2">
            <div class="feature col">
                <h2>Zvýhodněný balíček</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
            </div>
            <div class="feature col">
                <h2>Doprava</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>

    <div class="container py-5 px-4">
    <div class="">
        <h2>
            Jak pripravit nemovitost na foceni
        </h2>
        <ul>
            <li>
                Udelejte tohle
            </li>
            <li>
                A tohle taky
            </li>
            <li>
                A nezapomente na tohle
            </li>
        </ul>
    </div>
{% endblock %}
